.advantages {
    background-color: #141F2B;
    position: relative;
    // background-image: url(/img/advantages-back.svg);
    // background-repeat: no-repeat;
    // background-position: bottom left;
    // background-size: 95.1rem 73.6rem;
    padding-top: 9rem;
    padding-bottom: 7rem;
    color: #FFFFFF;

    .container {
        position: relative;
    }
    &__items {
        width: 57.6%;
        margin-left: auto;
    }

    &__head {
        font-family: 'Proxima Nova Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 3.5rem;
        line-height: 3.5rem;
        position: absolute;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-bottom: 2rem;

        &-content {
            width: 56%;

            strong {
                display: block;
                font-family: 'Proxima Nova Semibold';
                font-style: normal;
                font-weight: 600;
                font-size: 2rem;
                line-height: 2rem;
                text-transform: uppercase;
                margin-bottom: 2.8rem;
            }
            span {
                display: block;
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 150%;
                color: #B0B5B9;
            }
        }
        &-img {
            width: 39.7rem;
            height: 25rem;
        }
        &:first-child::before {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 56%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.5);
        }
        &::after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            width: 56%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.5);
        }
    }

    &__img {
        position: absolute;
        z-index: 5;
        width: 90.103rem;
        height: 73.65rem;
        bottom: -17rem;
        left: -11rem;
    }
}