.baner {
    color: #FFFFFF;
    height: auto;
    margin-bottom: -1rem;

    &__container {
        position: relative;
        width: 100%;
        height: auto;
        margin: 0;
        margin-top: -0.5rem;
    }
    &__img {
        margin-top: 0;
        position: absolute;
        z-index: -1;
    }
    &__swiper {
        margin: 0;
        width: 100%;
        position: relative;
        top: 0;
        height: fit-content;
        z-index: 5;
        padding-bottom: 14rem;

        &-pagination {
            &.swiper-pagination-horizontal {
                bottom: 19.2rem;
                right: 46.8rem;
                width: fit-content;
                left: auto;
                display: flex;
                gap: 1.6rem;

                .swiper-pagination-bullet {
                    margin: 0;
                }
            }
        }
        &-slide-number {
            position: absolute;
            bottom: 19.7rem;
            right: 20rem;
            display: flex;
            justify-content: flex-start;
            font-size: 15rem;
            font-weight: bold;
            height: 11rem;
            z-index: 5;
            
            img {
                width: auto;
                height: 100%;
                opacity: 0;

                &.active {
                    opacity: 1;
                    transition: opacity 1800ms;
                }
            }
        }
    }
    &__slide {
        height: 80rem;
        display: flex;
        flex-direction: column;

        pointer-events: auto !important;
        opacity: 1 !important;
        z-index: 1 !important;
        transition-duration: 0ms !important;
        transition-property: none !important;
        transition-timing-function: unset !important;

        &-container {
            margin-left: 25rem;
            padding-top: 15.2rem;
        }

        &-title {
            user-select: none;
            font-size: 5.5rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            width: 71.3rem;
            margin-bottom: 5.5rem;
            opacity: 0;
        }

        &-info {
            user-select: none;
            width: 76.1rem;
            position: relative;
        }

        &-text {
            user-select: none;
            margin-left: auto;
            margin-bottom: 5.5rem;
            width: 27.8rem;
            opacity: 0;

            strong {
                font-size: 1.8rem;
                font-style: normal;
                font-weight: 600;
                line-height: 150%;
                display: block;
                margin-bottom: 2.4rem;
            }
            span {
                font-size: 1.8rem;
                font-style: normal;
                font-weight: 300;
                line-height: 150%;
                display: block;
            }
        }
        &.active {
            z-index: 2 !important;

            .baner__slide-img {
                width: 41.3rem;
                opacity: 1;
            }
            .baner__slide-link {
                width: 34.8rem;
                opacity: 1;
            }
            .baner__slide-title, .baner__slide-text {
                opacity: 1;
                transition: opacity 1800ms;
            }
        }

        &-img {
            width: 0;
            height: 16rem;
            position: absolute;
            left: 0;
            top: 16rem;
            opacity: 0;
            transition: width 2s;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &-link {
            width: 0;
            height: auto;
            background-color: #E01327;
            margin-left: 41.3rem;
            position: relative;
            z-index: 10;
            cursor: pointer;
            opacity: 0;
            transition: width 2s;
            white-space: nowrap;

            a {
                display: inline-block;
                padding: 2.5rem 9.9rem 2.5rem 3.2rem;
                position: relative;
                z-index: 5;

                &::before {
                    position: absolute;
                    content: '';
                    width: 3.6rem;
                    height: 1.2rem;
                    background-image: url(../img/icon/arrowrightwhite.svg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    right: 3.2rem;
                    bottom: 3.25rem;
                }
            }
            
            strong {
                font-size: 2rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                display: block;
                margin-bottom: 1.3rem;
            }

            span {
                font-style: normal;
                font-weight: 300;
                font-size: 1.8rem;
                line-height: 150%;
                display: block;
            }

        }
    }

    &__btn-next, &__btn-prev {
        width: 3.3rem;
        height: 1.1rem;
        background-image: url(../img/icon/arrowrightwhite.svg) !important;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        top: 111rem;
    }
    &__btn-next {
        right: 27.7rem;
    }
    &__btn-prev {
        transform: rotate(180deg);
        left: 154.5rem;
    }
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }
    .swiper-button-next:after, .swiper-button-prev:after {
        content: none;
    }

    
    .swiper-pagination-bullet {
        width: 1rem;
        height: 1rem;
        background: #DADFE2;
        opacity: 0.3;
        margin-right: 1.6rem;
    }
    .swiper-pagination-bullet-active {
        background: #FFFFFF;
        opacity: 1;
    }
}

@media (max-width: 48em) {
    .baner {
        color: #FFFFFF;
        height: 155rem;
        margin-bottom: 0;
        position: relative;
        z-index: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 88.35%, #000000 100%), linear-gradient(0deg, rgba(211, 102, 113, 0.05), rgba(211, 102, 113, 0.05)), linear-gradient(0deg, rgba(9, 9, 11, 0.3), rgba(9, 9, 11, 0.3));

        .container {
            position: relative;
            width: 100%;
            height: 100rem;
            margin: 0;
            padding: 0;
            top: -16.2rem;
        }
        &__img {
            width: 82.8rem;
            height: 160.2rem;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        &__swiper {
            margin: 0;
            width: 100%;
            height: fit-content;
            padding-top: 11rem;
    
            &-pagination {

                &.swiper-pagination-horizontal {
                    top: 52rem;
                    right: 16rem;
                    gap: 3.2rem;

                    .swiper-pagination-bullet {

                    }
                }
            }
            &-slide-number {
                position: absolute;
                bottom: -38.6rem;
                right: 3.2rem;
                height: 10rem;

                img {
                    width: auto;
                    height: 100%;
                }
            }
        }
        &__slide {
            height: 80rem;
            margin-left: 0;
            display: flex;
            flex-direction: column;
    
            &-container {
                padding: 15.2rem 4rem 0;
                margin: 0;
            }
            &-title {
                font-size: 5.4rem;
                line-height: 130%;
                width: auto;
                margin-bottom: 0;
            }
    
            &-info {
                width: auto;
                position: relative;
            }
    
            &-text {
                margin-left: 0;
                margin-bottom: 5.5rem;
                width: auto;
                margin-top: 48rem;
    
                strong {
                    font-weight: 600;
                    font-size: 3.2rem;
                    line-height: 140%;
                    margin-bottom: 2.4rem;
                }
                span {
                    font-size: 3.2rem;
                    font-style: normal;
                    font-weight: 300;
                    line-height: 140%;
                }
            }
            &.active {
                z-index: 2 !important;
    
                .baner__slide-img {
                    width: 37.4rem;
                }
                .baner__slide-link {
                    width: 37.4rem;
                }
                .baner__slide-title, .baner__slide-text {
                    opacity: 1;
                    transition: opacity 1800ms;
                }
            }
    
            &-img {
                width: 0;
                height: 17.4rem;
                position: absolute;
                left: 0;
                top: -43rem;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
    
            &-link {
                position: absolute;
                width: 0;
                height: 20.6rem;
                background-color: #E01327;
                top: -25.6rem;
                left: 37.3rem;
                margin-left: 0;
    
                a {
                    display: inline-block;
                    padding: 3rem;
                    width: 37.4rem;
    
                    &::before {
                        width: 4.6rem;
                        height: 1.3rem;
                        right: 3rem;
                        bottom: 8.5rem;
                    }
                }
                
                strong {
                    font-size: 3.2rem;
                    line-height: 140%;
                    margin-bottom: 1.4rem;
                }
    
                span {
                    font-size: 3.2rem;
                    line-height: 140%;
                    width: 21rem;
                    white-space: break-spaces;
                }
    
            }
        }
    
        &__btn-next, &__btn-prev {
            width: 6.3rem;
            height: 4.1rem;
            background-image: url(../img/icon/arrowrightwhite.svg) !important;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            top: 67rem;
        }
        &__btn-next {
            right: 0;
            left: 23.2rem;
        }
        &__btn-prev {
            transform: rotate(180deg);
            left: 11.5rem;
        }
        .swiper-button-next:after, .swiper-button-prev:after {
            content: none;
        }
    
        
        .swiper-pagination-bullet {
            width: 2rem;
            height: 2rem;
            background: #DADFE2;
            opacity: 0.3;
            margin-right: 0;
        }
        .swiper-pagination-bullet-active {
            background: #FFFFFF;
            opacity: 1;
        }
    }
}