.contacts {
  position: relative;
  display: flex;
  flex-direction: column;

  .form {
    z-index: 12;
    width: 100%;
    position: absolute;
    display: none;
    top: 15.6vh;
    left: 0;
    .container {
      position: relative;
      z-index: 13;
      margin: 0 auto;
    }
    &.active {
      display: block;
    }

    .button{
      margin-top: 8rem;
    }
  }

  .close-btn {
    cursor: pointer;
    position: absolute;
    display: block;
    top: -5rem;
    right: 0;
    transition: opacity 1s ease;
    > svg {
      width: 3.1rem;
      height: 3.1rem;
    }
    :hover{
      opacity: 0.6;
    }
  }

  .back-grid {
    width: 100%;
    height: calc(100% - 42.7rem);
    position: absolute;
    left: 0;
    display: grid;
    z-index: -1;
    grid-template-columns: 26rem 1fr 1fr 1fr 1fr 26rem;
    grid-template-rows: 10.8rem 34.1rem 1fr;

    > .cell {
      border-right: 0.1rem solid rgba(157, 153, 175, 0.25);
      border-bottom: 0.1rem solid rgba(157, 153, 175, 0.25);
    }
  }

  .form-grid{
    margin: 0 auto;
    width: 140rem;
    height: 100%;
    display: grid;
    z-index: 15;
    grid-template-columns: repeat(4,1fr);

    > .cell {
      border-right: 1px solid rgba(157, 153, 175, 0.25);
      &:first-of-type{
        border-left: 1px solid rgba(157, 153, 175, 0.25);
      }
    }
  }

  header {
    background: transparent;

    > .container {
      max-width: 138rem;
    }
  }

  footer {
    z-index: 1;
    display: flex;
    box-sizing: border-box;
    margin-top: 0;
    background: #0b0c0b;
  }

  .wrapper-img {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 42.7rem);

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(45%);
    }
  }

  main {
    box-sizing: border-box;
    padding: 15rem 0 24rem;
    max-width: 140rem;
    margin: 0 auto;
    height: calc(100% - 53.5rem);
  }

  // .contacts__subtitle
  &__subtitle {
    padding-left: 1.7rem;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    color: #fff;
    font-family: Euclid Circular A;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  // .contacts__title
  &__title {
    padding-left: 1.7rem;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    margin-top: 1rem;
    color: #fff;
    font-family: Euclid Circular A;
    font-size: 5.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .contactslist {
    max-width: 140rem;
    margin-top: 17rem;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 34.9rem 34.9rem 34.9rem 34.8rem;
  }

  .contacts-item {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    position: relative;
    padding-left: 1.7rem;
    box-sizing: border-box;

    // .contacts-item__title
    &__title {
      color: #fff;
      font-family: Euclid Circular A;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    // .contacts-item__text
    &__text {
      color: #fff;
      font-family: Euclid Circular A;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 300;
      line-height: 2.7rem;

      /* 150% */
      > svg {
        width: 3.6rem;
        height: 1.3rem;
      }
    }
  }
}

@media (max-width: 48em) {

  .contacts {
    position: relative;
    display: flex;
    flex-direction: column;

    .back-grid {
      display: none;
    }

    .form-grid{
      display: none;
     }

     .form {
      top: 24.8rem;
  
      .button{
        margin-top: 5.4rem;
      }
    }

     .close-btn {
      position: absolute;
      display: block;
      top: -12.8rem;
      right: 4rem;
      > svg {
        width: 4.8rem;
        height: 4.8rem;
      }
    }

    header {
      background: transparent;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background: rgba(157, 153, 175, 0.25);
        bottom: -2.8rem;
        left: 0;
      }

      > .container {
        max-width: 100%;
      }
    }

    .wrapper-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      > img {
        width: 100%;
        height: calc(100% - 150rem);
        object-fit: cover;
        object-position: left 25% top 0;
      }
    }

    main {
      box-sizing: border-box;
      padding: 18rem 4rem 38.5rem;
      max-width: 100%;
      margin: 0 auto;
    }

    // .contacts__subtitle
    &__subtitle {
      padding-left: 0;
      font-size: 3.2rem;
      line-height: 140%;
    }

    // .contacts__title
    &__title {
      padding-left: 0;
      margin-top: 1rem;
      font-size: 5.5rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    .contactslist {
      
      max-width: 140rem;
      margin-top: 8rem;
      display: flex;
      flex-direction: column;
      gap: 4.8rem;
    }

    .contacts-item {
      box-sizing: border-box;
      padding-left: 0;

      // .contacts-item__title
      &__title {
        font-size: 3.2rem;
        line-height: 140%;
      }

      // .contacts-item__text
      &__text {
        margin-top: 1rem;
        font-size: 3.2rem;
        line-height: 140%;

        > svg {
          width: 7.2rem;
          height: 2.4rem;
        }
      }
    }
  }
}
