.contacts {
  position: relative;
  display: flex;
  flex-direction: column;

  .back-grid {
    width: 100%;
    height: calc(100% - 42.7rem);
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 26rem 1fr 1fr 1fr 1fr 26rem;
    grid-template-rows: 10.8rem 34.1rem 1fr;

    > .cell {
      border-right: 0.1rem solid rgba(157, 153, 175, 0.25);
      border-bottom: 0.1rem solid rgba(157, 153, 175, 0.25);
    }
  }

  header {
    background: transparent;

    > .container {
      max-width: 138rem;
    }
  }

  footer {
    z-index: 1;
    display: flex;
    box-sizing: border-box;
    margin-top: 0;
    background: #0b0c0b;
  }

  .wrapper-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 42.7rem);

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  main {
    box-sizing: border-box;
    padding: 15rem 0 24rem;
    max-width: 140rem;
    margin: 0 auto;
    height: calc(100% - 53.5rem);
  }

  // .contacts__subtitle
  &__subtitle {
    padding-left: 1.7rem;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    color: #fff;
    font-family: Euclid Circular A;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }

  // .contacts__title
  &__title {
    padding-left: 1.7rem;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    margin-top: 1rem;
    color: #fff;
    font-family: Euclid Circular A;
    font-size: 5.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .contactslist {
    max-width: 140rem;
    margin-top: 17rem;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 34.9rem 34.9rem 34.9rem 34.8rem;
  }

  .contacts-item {
    position: relative;
    padding-left: 1.7rem;
    box-sizing: border-box;

    // .contacts-item__title
    &__title {
      color: #fff;
      font-family: Euclid Circular A;
      font-size: 2rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    // .contacts-item__text
    &__text {
      margin-top: 2.1rem;
      color: #fff;
      font-family: Euclid Circular A;
      font-size: 1.8rem;
      font-style: normal;
      font-weight: 300;
      line-height: 2.7rem;
      /* 150% */
      > svg {
        width: 3.6rem;
        height: 1.3rem;
      }
    }
  }

  .link {
    padding-left: 0;
    > a {
      width: 100%;
      display: inline-flex;
      box-sizing: border-box;
      padding: 2.5rem 3.2rem;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1.3rem;
      background: #fff;
    }

    .contacts-item__title {
      color: #0b0c0b;
    }

    .contacts-item__text {
      width: 100%;
      margin: 0 0;
      color: #0b0c0b;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
