.our-projects {
  overflow-x: hidden;

  .container {
    position: relative;
    border-left: 1px solid rgba(157, 153, 175, 0.1);
    border-right: 1px solid rgba(157, 153, 175, 0.1);
    background-color: #f1f4f5;
    padding-top: 8rem;
    padding-bottom: 20rem;
  }

  &--title {
    text-align: center;
    margin-bottom: 6rem;
  }

  &__header {
    display: flex;
    position: relative;
    flex-direction: column;

  }

  &-list {

    position: relative;

    &::before {
      z-index: 0;
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 63.9rem;
      width: 1px;
      height: 100%;
      background: #9d99af;
      opacity: 0.1;
    }

    &::after {
      z-index: 0;
      display: block;
      content: "";
      position: absolute;
      top: 0;
      right: 11.8rem;
      width: 1px;
      height: 100%;
      background: #9d99af;
      opacity: 0.1;
    }


  }

  &-item {
    display: flex;
    align-items: center;
    gap: 12rem;
    position: relative;
    
    &:first-of-type{
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: -30rem;
        width: 250rem;
        height: 1px;
        background: #9d99af;
        opacity: 0.1;
      }
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: -30rem;
      width: 250rem;
      height: 1px;
      background: #9d99af;
      opacity: 0.1;
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;

      .our-projects-item-info {
        margin-right: 4.5rem;
      }
    }


    &--img {
      width: 64rem;
      height: 38rem;
      flex: none;
      position: relative;
      z-index: 1;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    &--icon {
      width: 3.7rem;
      height: 1rem;
      position: absolute;
      top: 50%;
      right: -12.5rem;

      svg {
        width: 3.7rem;
        height: 1rem;
      }
    }

    &-info {
      position: relative;
      width: 47.1rem;

      &--date {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.288rem;
        text-transform: uppercase;
        color: #e01327;
        transform: rotate(-90deg);
        left: -10.5rem;
        top: 3.5rem;
        position: absolute;
        width: fit-content;
      }

      &--title {
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: #0b0c0b;
        margin-bottom: 2.5rem;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
      }

      li {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        color: #424245;
        position: relative;
        padding-left: 7.2rem;

        &:before {
          content: "";
          display: block;
          position: absolute;
          width: 6rem;
          height: 1px;
          background: rgba(146, 153, 157, 0.3);
          left: 0;
          top: 1.1rem;
        }

        strong {
          font-weight: 700;
        }
      }
    }
  }
}

.our-projects+.certificates{
  .container {
    position: relative;
    background-color: #F1F4F5;
    border-left: 1px solid rgba(157, 153, 175, 0.1);
    border-right: 1px solid rgba(157, 153, 175, 0.1);
  }
}

.another-text {
  margin-bottom: 6rem;
  display: flex;
  justify-content: space-around;

  span {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    color: #92999d;
  }

  .active {
    font-weight: 600;
    color: #0b0c0b;
  }
}

@media (max-width: 48em) {

  .our-projects {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 10rem;
    padding-top: 0;
    padding-bottom: 24rem;

    &__header {

  
      &::after {
        display: none;
      }
    }
    .container {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 0 4rem;
      .background-line {
        display: none;
      }
    }

    &--title {
      text-align: left;
      font-size: 5.4rem;
      line-height: 130%;
      margin-bottom: 4rem;
    }

    &-list {
      position: relative;
      display: flex;
      gap: 20rem;
      flex-direction: column;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    &-item {
      display: flex;
      align-items: flex-start;
      gap: 12rem;
      flex-direction: column-reverse;
      border-bottom: none;

      &:first-of-type {
        &::before {
          display: none;
        }
      }
  
      &::after {
        content: "";
        display: none;
      }


      &:nth-child(2n) {
        flex-direction: column-reverse;

        .our-projects-item-info {
          margin-right: 0;
        }
      }

      &--img {
        position: relative;
        width: 74.8rem;
        height: 55rem;
        flex: none;

        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 150%;
          height: 1px;
          opacity: 0.1;
          background: #9d99af;
          left: -5rem;
          bottom: -8rem;
        }

        img {
          height: 100%;
          object-fit: cover;
        }
      }

      &--icon {
        width: 8rem;
        height: 2rem;
        position: absolute;
        // top: 120%;
        // right: none;
        left: 0;
        top: 110%;

        svg {
          width: 8rem;
          height: 2rem;
        }
      }

      &-info {
        width: 100%;
        position: relative;

        &--date {
          font-size: 12px;
          letter-spacing: 2.16px;
          transform: rotate(0deg);
          left: 0;
          top: -4rem;
        }

        &--title {
          width: 100%;
          font-size: 4.4rem;
          margin-bottom: 3rem;
        }

        ul {
          width: 100%;
          gap: 2.4rem;
        }

        li {
          color: #424245;
          font-family: Euclid Circular A;
          font-size: 3.2rem;
          line-height: 140%;
          padding-left: 10.4rem;

          &:before {
            content: "";
            width: 8rem;
            height: 1px;
            top: 2.2rem;
          }
        }
      }
    }

    .another-text {
      width: 110%;
      margin-bottom: 8rem;
    }
  }

  .another-text {
    width: 110%;
    margin-bottom: 8rem;
    display: inline-flex;
    justify-content: flex-start;
    padding-bottom: 4rem;
    gap: 4rem;
    overflow-y: hidden;
    overflow-x: auto;

    span {
      font-size: 3rem;
      text-wrap: nowrap;
      font-style: normal;
      font-weight: 300;
      line-height: 140%;
      color: #92999d;
    }

    .active {
      font-weight: 600;
      color: #0b0c0b;
    }
  }
}