.projects {
    margin-bottom: 34.8rem;

    &__inner {
        position: relative;

        &::after {
            position: absolute;
            content: '';
            right: 7.1rem;
            bottom: -5rem;
            width: 82.8rem;
            height: 0.2rem;
            background-color: #232C31;
        }
    }
    &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;

        &-link {
            position: relative;
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 150%;
            padding-right: 7rem;
            margin-top: 0.3rem;

            &::after {
                position: absolute;
                content: '';
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                right: 0;
                width: 3.6rem;
                height: 1.2rem;
                background-image: url(/img/icon/arrowrightred.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
    }
    &__title {
        font-family: 'Proxima Nova Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
    &__swiper {
        height: fit-content;
    }
    &__slide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-name {
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 4rem;
            line-height: 130%;
            
            text-transform: uppercase;
            width: 58rem;
            margin-bottom: 4rem;
        }
        &-info {
            width: 57.62%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-img {
                width: 54rem;
                height: 42.5rem;
                border-radius: 1rem;
                position: relative;

                &-data {
                    position: absolute;
                    left: 2.8rem;
                    top: 3.1rem;
                    z-index: 2;
                    font-family: 'Proxima Nova Semibold';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 2rem;
                    line-height: 2rem;
                    text-transform: uppercase;
                }
                &-name {
                    position: absolute;
                    left: 3.2rem;
                    bottom: 2.8rem;
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 2.7rem;
                    color: #FFFFFF;
                    padding: 0.4rem 2rem;
                    background: #E01327;
                    border-radius: 100rem;
                    z-index: 2;
                }
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-content {
                width: 41%;
                margin-top: 2rem;

                &-item {
                    position: relative;
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 150%;
                    padding-left: 11.4rem;
                    margin-bottom: 3.6rem;
                    &::after {
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 1rem;
                        width: 10.2rem;
                        height: 1px;
                        background-color: #92999D;
                    }
                    &>span {
                        font-size: 4rem;
                        line-height: 130%;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
    &__btn-next {
        top: unset;
        bottom: -5.5rem;
        right: -0.7rem;
        height: auto;
        &::after {
            font-family: swiper-icons;
            font-size: 1rem;
            color: #151313;
        }
    }
    &__btn-prev {
        left: unset;
        right: 2.8rem;
        top: unset;
        bottom: -5.5rem;
        height: auto;
        &::after {
            font-family: swiper-icons;
            font-size: 1rem;
            color: #151313;
        }
    }
    &__swiper-pagination {
        display: block;
        width: auto;
        left: 42.4%;
        bottom: -5.8rem;

        font-family: 'Proxima Nova Semibold';
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        line-height: 2rem;

        .swiper-pagination-total {
            margin-left: 3.5rem;
        }
        &::after {
            position: absolute;
            content: "";
            left: 2rem;
            top: 1rem;
            width: 1.6rem;
            height: 1px;
            background-color: #151313;
        }
    }
}

@media (max-width: 48em) {
    .projects {
        margin-bottom: 41vw;
        &__inner {
            &::after {
                right: 16vw;
                bottom: -9.5vw;
                width: 53vw;
                height: 0.2rem;
            }
        }
        &__header {
            display: block;
            padding-bottom: 5.4vw;
            margin-bottom: 7.2vw;
            &-title {
                margin-bottom: 6.3vw;
            }
            &-text {
                font-size: 4vw;
                line-height: 150%;
                position: static;
                margin-bottom: 7vw;
            }
        }
        &__slide {
            display: block;
            &-name {
                width: 100%;
                font-size: 5.3vw;
                margin-bottom: 3.2vw;
                line-height: 123%;
            }
            &-info {
                width: 100%;
                display: block;
                &-img {
                    width: 100%;
                    height: 55vw;
                    margin-bottom: 5.2vw;
                    &-data {
                    left: 5.3vw;
                    top: 4.4vw;
                    font-size: 4vw;
                    }
                    &-name {
                    left: 5.3vw;
                    bottom: 5.8vw;
                    font-weight: 400;
                    font-size: 3.47vw;
                    padding: 1.2vw 3.73vw;
                    border-radius: 100rem;
                    }
                }
                &-content {
                    width: 86%;
                    margin-top: 0;
                    &-item {
                    line-height: 150%;
                    padding-left: 18.6vw;
                    font-size: 4.27vw;
                    &:not(:last-child) {
                        margin-bottom: 0.7vw;
                    }
                    &:nth-child(2) {
                        margin-bottom: 0.3vw;
                    }
                    &::after {
                        top: 2.5vw;
                        width: 13.3vw;
        
                    }
                    &>span {
                        font-size: 6.4vw;
                        line-height: 80%;
                    }
                    }
                }
            }
        }
        &__btn-next {
            bottom: -10.7vw;
        }
        &__btn-prev {
            right: 10vw;
            bottom: -10.7vw;
        }
        &__swiper-pagination {
            left: 0.3vw;
            bottom: -10.9vw;
        }
    }
}
