.projects {
    margin-bottom: 22.9rem;
    position: relative;
    z-index: 5;

    &__inner {
        position: relative;
        z-index: 5;

        &::after {
            position: absolute;
            content: '';
            right: 7.1rem;
            bottom: -5rem;
            width: 82.8rem;
            height: 0.2rem;
            background-color: #232C31;
        }
    }
    &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;

        &-link {
            position: relative;
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 150%;
            padding-right: 7rem;
            margin-top: 0.3rem;

            &::after {
                position: absolute;
                content: '';
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                right: 0;
                width: 3.6rem;
                height: 1.2rem;
                background-image: url(../img/icon/arrowrightred.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
    }
    &__title {
        font-family: 'Proxima Nova Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
    &__swiper {
        height: fit-content;
    }
    &__slide {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-name {
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 4rem;
            line-height: 130%;
            
            text-transform: uppercase;
            width: 58rem;
            margin-bottom: 4rem;
        }
        &-info {
            width: 57.62%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-img {
                width: 54rem;
                height: 42.5rem;
                border-radius: 1rem;
                position: relative;

                &-data {
                    position: absolute;
                    left: 2.8rem;
                    top: 3.1rem;
                    z-index: 2;
                    font-family: 'Proxima Nova Semibold';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 2rem;
                    line-height: 2rem;
                    text-transform: uppercase;
                }
                &-name {
                    position: absolute;
                    left: 3.2rem;
                    bottom: 2.8rem;
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 2.7rem;
                    color: #FFFFFF;
                    padding: 0.4rem 2rem;
                    background: #E01327;
                    border-radius: 100rem;
                    z-index: 2;
                }
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-content {
                width: 41%;
                margin-top: 2rem;

                &-item {
                    position: relative;
                    font-family: 'Proxima Nova';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 1.8rem;
                    line-height: 150%;
                    padding-left: 11.4rem;
                    margin-bottom: 3.6rem;
                    &::after {
                        position: absolute;
                        content: '';
                        left: 0;
                        top: 1rem;
                        width: 10.2rem;
                        height: 1px;
                        background-color: #92999D;
                    }
                    &>span {
                        font-size: 4rem;
                        line-height: 130%;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
    &__btn-next {
        top: unset;
        bottom: -5.5rem;
        right: 0rem;
        height: auto;
        &::after {
            font-size: 1rem;
            color: #151313;
        }
    }
    &__btn-prev {
        left: unset;
        right: 2.8rem;
        top: unset;
        bottom: -5.5rem;
        height: auto;
        &::after {
            font-size: 1rem;
            color: #151313;
        }
    }
    &__swiper-pagination {
        display: block;
        width: auto;
        left: 71rem;
        bottom: -5.8rem;

        font-family: 'Proxima Nova Semibold';
        font-style: normal;
        font-weight: 600;
        font-size: 2rem;
        line-height: 2rem;

        .swiper-pagination-total {
            position: absolute;
            left: 4.5rem;
        }
        &::after {
            position: absolute;
            content: "";
            left: 2rem;
            top: 1rem;
            width: 1.6rem;
            height: 1px;
            background-color: #151313;
        }
    }
}

@media (max-width: 48em) {
    .projects {
        margin-bottom: 41vw;
        &__inner {
            &::after {
                right: 15rem;
                bottom: -2rem;
                width: 36rem;
                height: 0.3rem;
            }
        }
        &__head {
            flex-direction: column;
            margin-bottom: 7rem;

            &-link {
                width: fit-content;
                font-size: 2.7rem;
                line-height: 140%;
                padding-right: 7.5rem;
                margin-top: 3.5rem;

                &::after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    right: 0;
                    width: 4.6rem;
                    height: 1.8rem;
                    background-image: url(../img/icon/arrowrightred.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
            }
        }
        &__title {
            font-size: 4rem;
            line-height: 130%;
        }
        &__slide {
            display: block;
            &-name {
                font-family: "Proxima Nova Semibold";
                width: 100%;
                font-size: 2.9rem;
                margin-bottom: 6.5rem;
                line-height: 140%;
            }
            &-info {
                width: 100%;
                display: block;

                &-img {

                    width: 100%;
                    height: 37.5rem;
                    margin-bottom: 3rem;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    &-data {
                        left: 3.5rem;
                        top: 3rem;
                        font-size: 2.9rem;
                        line-height: 140%;
                    }
                    &-name {
                        left: 5.3vw;
                        bottom: 5.8vw;
                        font-weight: 400;
                        font-size: 2.6rem;
                        line-height: 140%;
                        padding: 1.2vw 3.73vw;
                        border-radius: 100rem;
                    }
                }
                &-content {
                    width: 86%;
                    margin-top: 0;

                    &-item {
                        line-height: 140%;
                        padding-left: 12.5rem;
                        font-size: 2.75rem;

                        &:not(:last-child) {
                            margin-bottom: 2.3rem;
                        }
                        &:nth-child(2) {
                            margin-bottom: 2rem;
                        }
                        &::after {
                            top: 2.5vw;
                            width: 13.3vw;
            
                        }
                        &>span {
                            font-size: 4.5rem;
                        }
                    }
                }
            }
        }
        &__btn-next {
            bottom: -2.8rem;
            right: -1.5rem;
            height: auto;
            &::after {
                font-size: 2rem;
            }
        }
        &__btn-prev {
            right: 5rem;
            top: unset;
            bottom: -2.8rem;
            height: auto;
            &::after {
                font-size: 2rem;
            }
        }
        &__swiper-pagination {
            left: 0;
            bottom: -4rem;
            font-size: 3rem;
            line-height: 140%;

            .swiper-pagination-total {
                position: absolute;
                left: 8.5rem;
            }
            &::after {
                position: absolute;
                content: "";
                left: 3.5rem;
                top: 1.7rem;
                width: 2.6rem;
                height: 1px;
                background-color: #151313;
            }
        }
    }
}
@media (max-width: 48em) {
    .projects {
        margin-bottom: 20rem;
        &__inner {
            &::after {
                right: 15rem;
                bottom: -2rem;
                width: 36rem;
                height: 0.3rem;
            }
        }
        &__head {
            flex-direction: column;
            margin-bottom: 7rem;

            &-link {
                width: fit-content;
                font-size: 2.7rem;
                line-height: 140%;
                padding-right: 7.5rem;
                margin-top: 3.5rem;

                &::after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    right: 0;
                    width: 4.6rem;
                    height: 1.8rem;
                    background-image: url(../img/icon/arrowrightred.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
            }
        }
        &__title {
            font-size: 4rem;
            line-height: 130%;
        }
        &__slide {
            display: block;
            &-name {
                font-family: "Proxima Nova Semibold";
                width: 100%;
                font-size: 2.9rem;
                margin-bottom: 6.5rem;
                line-height: 140%;
            }
            &-info {
                width: 100%;
                display: block;

                &-img {

                    width: 100%;
                    height: 37.5rem;
                    margin-bottom: 3rem;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    &-data {
                        left: 3.5rem;
                        top: 3rem;
                        font-size: 2.9rem;
                        line-height: 140%;
                    }
                    &-name {
                        left: 5.3vw;
                        bottom: 5.8vw;
                        font-weight: 400;
                        font-size: 2.6rem;
                        line-height: 140%;
                        padding: 1.2vw 3.73vw;
                        border-radius: 100rem;
                    }
                }
                &-content {
                    width: 86%;
                    margin-top: 0;

                    &-item {
                        line-height: 140%;
                        padding-left: 12.5rem;
                        font-size: 2.75rem;

                        &:not(:last-child) {
                            margin-bottom: 2.3rem;
                        }
                        &:nth-child(2) {
                            margin-bottom: 2rem;
                        }
                        &::after {
                            top: 2.5vw;
                            width: 13.3vw;
            
                        }
                        &>span {
                            font-size: 4.5rem;
                        }
                    }
                }
            }
        }
        &__btn-next {
            bottom: -2.8rem;
            right: -1.5rem;
            height: auto;
            &::after {
                font-size: 2rem;
            }
        }
        &__btn-prev {
            right: 5rem;
            top: unset;
            bottom: -2.8rem;
            height: auto;
            &::after {
                font-size: 2rem;
            }
        }
        &__swiper-pagination {
            left: 0;
            bottom: -4rem;
            font-size: 3rem;
            line-height: 140%;

            .swiper-pagination-total {
                position: absolute;
                left: 8.5rem;
            }
            &::after {
                position: absolute;
                content: "";
                left: 3.5rem;
                top: 1.7rem;
                width: 2.6rem;
                height: 1.5px;
                background-color: #151313;
            }
        }
    }
}
