.vacancies-main {
  .certificates {
    margin-bottom: 0;
  }

  + .footer {
    margin-top: 20rem;
  }
}

.vacancies {
  .container {
    background-color: #F1F4F5;
    position: relative;
    padding-top: 10rem;
    padding-bottom: 20rem;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      background: #9d99af29;
      width: 1px;
      height: calc(100% + 10rem);
      left: 0;
      top: -10rem;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      background: #9d99af29;
      width: 1px;
      height: calc(100% + 10rem);
      right: 0;
      top: -10rem;
    }
  }
  &-head {
    padding-bottom: 10rem;
    display: flex;
    align-items: center;
    margin-left: 4.5rem;

    &--number {
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      width: 15.6rem;
    }
    .title-h1 {
      padding-left: 5.2rem;
    }
  }
  &-item {
    display: flex;
    padding: 6rem 0;
    border-top: 1px solid #9d99af29;
    align-items: flex-start;

    &:last-child {
      border-bottom: 1px solid #9d99af29;
    }

    &--date {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      width: 15.6rem;
      margin-left: 4.5rem;

      strong {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      span {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        color: #92999d;
      }
    }
    &--info {
      width: 94.3rem;
      padding-left: 5.2rem;
      padding-right: 3.7rem;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        background: #9d99af29;
        width: 1px;
        height: calc(100% + 12rem);
        left: 0;
        top: -6rem;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        background: #9d99af29;
        width: 1px;
        height: calc(100% + 12rem);
        right: 0;
        top: -6rem;
      }

      p {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 1.8rem;

        &.vacancies-item--info-title {
          font-size: 3.5rem;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin-bottom: 4rem;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;
        margin-bottom: 3rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
      li {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        color: #424245;
        position: relative;
        padding-left: 7.2rem;

        &:before {
          content: "";
          display: block;
          position: absolute;
          width: 6rem;
          height: 1px;
          background: rgba(146, 153, 157, 0.3);
          left: 0;
          top: 1.1rem;
        }

        strong {
          font-weight: 700;
        }
      }
    }
    &--link {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      align-items: center;
      margin: 0 auto;

      svg {
        width: 3.3rem;
        height: 3.3rem;
      }
      strong {
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
}

@media (max-width: 48em) {
  .vacancies {
    overflow-x: hidden;

    .container {
      padding-bottom: 24rem;
      display: flex;
      flex-direction: column;
      padding: 10rem 4rem 0;

      &::after {
        width: 0;
        height: 0;
      }
    }

    &-head {
      padding-bottom: 0;
      margin-left: 0;
      justify-content: space-between;
      flex-direction: row-reverse;

      &--number {
        font-size: 3rem;
        font-weight: 700;
        width: fit-content;
      }
      .title-h1 {
        padding-left: 0;
      }
    }
    &-item {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 0 0;
      margin-top: 15.1rem;
      border-top: 0 solid #9d99af29;
      &::before {
        content: "";
        position: absolute;
        width: 100rem;
        height: 1px;
        opacity: 0.1;
        background: #9d99af;
        top: -7rem;
        left: -10rem;
      }
      &:last-of-type {
        &::after {
          content: "";
          position: absolute;
          bottom: -6.4rem;
          height: 1px;
          width: 90rem;
          left: -5rem;
          opacity: 0.1;
          background: #9d99af;
        }
      }
      &:last-child {
        border-bottom: 0 solid #9d99af29;
      }

      &--date {
        display: flex;
        flex-direction: row;
        gap: 1.6rem;
        width: 100%;
        margin-left: 0;

        strong {
          font-size: 3rem;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          line-height: 140%;
        }
        span {
          font-size: 3.2rem;
          font-weight: 300;
          line-height: 140%;
        }
      }
      &--info {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        position: relative;

        &::before {
          width: 0;
        }

        &::after {
          width: 0;
        }

        p {
          font-size: 3.2rem;
          margin-bottom: 3.6rem;

          &.vacancies-item--info-title {
            font-size: 4.4rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin-top: 1rem;
            margin-bottom: 6.4rem;
          }
        }
        ul {
          display: flex;
          flex-direction: column;
          gap: 2.4rem;
          margin-bottom: 3rem;
          &:last-child {
            margin-bottom: 0;
          }
        }
        li {
          font-size: 3.2rem;
          line-height: 140%;
          padding-left: 10.4rem;

          &:before {
            width: 8rem;
            left: 0;
            top: 2.2rem;
          }
        }
      }
      &--link {
        display: flex;
        flex-direction: row;
        gap: 1.6rem;
        align-items: center;
        margin-top: 5.6rem;
        margin-left: 0;
        margin-right: 0;

        svg {
          width: 6.6rem;
          height: 6.6rem;
        }
        strong {
          font-size: 3rem;
          line-height: 140%;
        }
      }
    }
  }
}

@media (max-width: 48em) {
  .vacancies-main {
    .certificates {
      margin-bottom: 0;
    }

    + .footer {
      margin-top: 32rem;
    }
  }
}
