.world {
    background-color: #141F2B;
    background-image: url(../img/world-back.svg);
    background-repeat: no-repeat;
    padding-top: 9.1rem;
    height: 90rem;
    background-position-y: 3rem;
    background-position-x: 2rem;
    background-size: 190.9rem 106.925rem;
    position: relative;
    z-index: 5;

    &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5rem;
        color: #FFFFFF;

        &-link {
            position: relative;
            font-family: 'Proxima Nova';
            font-style: normal;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 150%;
            padding-right: 7rem;
            margin-top: 0.3rem;

            &::after {
                position: absolute;
                content: '';
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                right: 0;
                width: 3.6rem;
                height: 1.2rem;
                background-image: url(../img/icon/arrowrightred.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
        }
    }
    &__title {
        font-family: 'Proxima Nova Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 3.5rem;
        line-height: 3.5rem;
    }
    &__list {
        position: relative;
    }
    &__item {
        position: absolute;
    }
    &__name {
        position: relative;
        display: block;
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.2rem;
        width: 20.5rem;
        padding: 1rem 2rem;
        background-color: #FFFFFF;

        &::before {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border-bottom: 6.4rem solid #FFFFFF;
            border-left: 3.5rem solid transparent;
            left: -3.5rem;
            top: 0;
        }
    }
    &__circle {
        position: absolute;
        width: 3.1rem;
        height: 3.1rem;
        border-radius: 50%;
        border: 1px solid rgba(224, 19, 39, 0.8);
        display: flex;
        align-items: center;
        left: -6.8rem;
        bottom: -3rem;

        &-center {
            width: 1.9rem;
            height: 1.9rem;
            border-radius: 50%;
            background: #E01327;
            margin: 0 auto;
        }
    }
}
@media (max-width: 48em) {
    .world {
        background-color: #141F2B;
        background-image: url(../img/world-back.svg);
        background-repeat: no-repeat;
        padding-top: 11.1rem;
        height: 145rem;
        background-position-y: 27rem;
        background-position-x: -218rem;
        background-size: inherit;
        position: relative;
        z-index: 5;
    
        &__head {
            flex-direction: column;
            margin-bottom: 7rem;

            &-link {
                width: fit-content;
                font-size: 2.7rem;
                line-height: 140%;
                padding-right: 7.5rem;
                margin-top: 3.5rem;

                &::after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                    right: 0;
                    width: 4.6rem;
                    height: 1.8rem;
                    background-image: url(../img/icon/arrowrightred.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                }
            }
        }
        &__title {
            font-size: 4rem;
            line-height: 130%;
        }
        &__list {
            position: relative;
        }
        &__item {
            position: absolute;
        }
        &__name {
            font-size: 2.65rem;
            line-height: 140%;
            width: 29rem;
            padding: 2rem 2rem;
    
            &::before {
                position: absolute;
                content: '';
                width: 0;
                height: 0;
                border-bottom: 11.415rem solid #FFFFFF;
                border-left: 2.5em solid transparent;
                left: -6.32rem;
                top: 0;
            }
        }
        &__circle {
            width: 5.1rem;
            height: 5.1rem;
            border: 1px solid rgba(224, 19, 39, 0.8);
            left: -10.5rem;
            bottom: -4.5rem;
    
            &-center {
                width: 2.9rem;
                height: 2.9rem;
            }
        }
    }
}
