@import "set";

@import "header";
@import "footer";

@import "baner";
@import "about-us";
@import "gallery";
@import "production";
@import "partners";
@import "world";
@import "last-img";
@import "competence";
@import "our-cases";
@import "factory";
@import "certificates";

// .wow {
//   visibility: hidden;
// }
body {
  position: relative;
  background-color: #F1F4F5;
}
:root {
  --animate-duration: 2s;
}
@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}

@media (max-width: 48em) {
  .desktop {
    display: none;
  }
  .container {
    padding: 0 3.6rem;
  }
}
